.gantt_task_progress {
  background-color: rgb(44, 175, 44);
}
.gantt_task_line {
  background-color: #75bc7a;
}
.gantt_grid_scale,
.gantt_task_scale,
.gantt_task_vscroll {
  background-color: #eee;
}
.gantt_grid_scale,
.gantt_task_scale,
.gantt_task .gantt_task_scale .gantt_scale_cell,
.gantt_grid_scale .gantt_grid_head_cell {
  color: #000;
  font-size: 13px;
  border-bottom: 1px solid #cecece;
}

.gantt_cal_ltext textarea,
.gantt_cal_ltext select {
  border-radius: 5px;
  padding: 8px 4px;
}

.gantt_cal_light {
  padding: 10px;
  height: fit-content !important;
}

.gantt_section_time select {
  border-radius: 4px;
  padding: 5px 3px;
}
